.App {
  text-align: center;
  background: linear-gradient(to right, #da9cf4, #9630f4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bot-container{
  width: 600px; 
  height: 500px; 
  background-color: #242424;
  border-radius: 30px; 
  display: flex; 
  justify-content: center;
  flex-direction: column;
  
}

.Bot-header{
  background-color: #242424;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px;
  display: flex;
  gap: 0px; 

}

.Bot-logo{
  margin-right: 5px;
  border-radius: 50%; 
}

.Bot-title{
  margin: 0; 
  color: white; 
  line-height: 0.2; 
}


.TypeSection{
  display: flex;
  align-items: center;
  padding: 10px;
  
}


.TextBar{
  background-color: #2d2d2d; 
  color: white; 
  height: 40px; 
  flex:1; 
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-right: 0px;

}

.SendIcon{
  margin-left: 10px; 
  cursor: pointer;
  align-items: center;
  display: flex; 
  justify-content: center;
  
}


.ChatWindow{
  flex: 1; 
  padding: 5px; 
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  gap: 10px; 
  flex-direction: column;
  
}

.UserText{
  background-color: #4e7c91; 
  color: white; 
  padding: 10px; 
  border-radius: 20px; 
  max-width: 40%;
  align-self: flex-end; 
  word-wrap: break-word; 
  text-align: left;
  
}

.BotText{
  background-color: white; 
  color: black; 
  padding: 10px; 
  border-radius: 20px; 
  max-width: 40%;
  align-self: flex-start; 
  word-wrap: break-word; 
  text-align: left;
}

